<div class="calendar row">
  <div class="col-md-10">
    <h5><%= calendar.name %></h5>
  </div>
  <div class="col-md-2">
    <%= link_to fa_icon("pencil"), edit_calendar_path(calendar.id) %>
    <%= link_to fa_icon("times"), calendar_path(calendar.id), method: :delete %>
  </div>
</div>
