<div class="row">
  <div class="col-md-3">
    <div class="user-card">
      <%= image_tag(current_user.avatar, class: "img-responsive img-thumbnail") %>
      <h4><%= current_user.name %></h4>
    </div>
  </div>
  <div class="col-md-6">
    <%= render partial: "calendars/partials/calendar", collection: @calendars %>
  </div>
</div>
